<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 1.开启注解支持（自动加载） -->
    <mvc:annotation-driven />

    <!-- 2.隐式向 Spring 容器注册 AutowiredAnnotationBeanPostProcessor、 CommonAnnotationBeanPostProcessor、
        PersistenceAnnotationBeanPostProcessor、 RequiredAnnotationBeanPostProcessor -->
    <context:annotation-config />

    <!-- 3.扫描控制层 -->
    <context:component-scan base-package="cn.edu.fjnu.cse.studentgrowth.service" />
</beans>